.product-card {
  display: flex;
  flex-direction: column;
  width: 305px;
  margin-bottom: 40px;
  animation-duration: 0.6s;
}

.product-image-wrapper {
  width: 305px;
  height: 305px;
  border-radius: 24px;
  overflow: hidden;
  margin-bottom: 28px;
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.product-card:hover .product-image-wrapper img {
  transform: scale(1.1);
}

.product-title {
  font-family: 'Comic Cat';
  font-size: 32px;
  font-weight: 400;
  color: #243221;
  margin-bottom: 8px;
}

.product-desc {
  font-family: 'Inter Tight', sans-serif;
  font-size: 20px;
  font-weight: 400;
  max-width: 305px;
  color: #243221;
  margin-bottom: 8px;
}

.product-price {
  font-family: 'Comic Cat';
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 28px;
}

.product-btn {
  background-color: #243221;
  color: #E7F5DE;
  width: 159px;
  height: 56px;
  border-radius: 64px;
  font-size: 20px;
  font-weight: 500;
  align-self: flex-start;
  transition: background-color 0.2s;
  border: 2px solid;
}

.product-btn:hover {
  background-color: #2D4728;
}

.products-grid .product-card:nth-child(1) { animation-delay: 0.1s; }
.products-grid .product-card:nth-child(2) { animation-delay: 0.2s; }
.products-grid .product-card:nth-child(3) { animation-delay: 0.3s; }
.products-grid .product-card:nth-child(4) { animation-delay: 0.4s; }

@media (max-width: 1200px) {
  .product-card {
    width: 280px;
    margin-bottom: 35px;
  }

  .product-image-wrapper {
    width: 280px;
    height: 280px;
    margin-bottom: 20px;
  }

  .product-title {
    font-size: 28px;
  }

  .product-desc {
    font-size: 16px;
    max-width: 185px;
  }

  .product-price {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .product-btn {
    width: 185px;
    height: 40px;
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .product-card {
    width: 171px;
    margin-bottom: 35px;
  }

  .product-image-wrapper {
    width: 171px;
    height: 171px;
    margin-bottom: 20px;
  }

  .product-title {
    font-size: 28px;
  }

  .product-desc {
    font-size: 16px;
    max-width: 185px;
  }

  .product-price {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .product-btn {
    width: 171px;
    height: 40px;
    font-size: 16px;
  }
}